<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,member-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <script type="text/javascript" src="lib/PIE_IE678.js"></script>
    <![endif]-->
    <link href="css/H-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="css/page.css" rel="stylesheet" type="text/css" />
    <link href="css/H-ui.admin.css" rel="stylesheet" type="text/css" />
    <link href="lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
    <title>食品管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 食品管理 <span class="c-gray en">&gt;</span> 食品列表 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
    <div class="text-c">
        <input type="text" class="input-text" style="width:250px" placeholder="输入食品名称" id="keyword" name="keyword">
        <button type="button" class="btn btn-success radius" id="search" ><i class="Hui-iconfont">&#xe665;</i>搜索</button>
    </div>
    <div class="mt-20">
        <div class="cl pd-5 bg-1 bk-gray">
            <span class="l">
                <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius">
                    <i class="Hui-iconfont">&#xe6e2;</i> 批量删除
                </a>
                <a href="javascript:;" onclick="food_add('添加食品','food-add.html','1011','650','510')" class="btn btn-primary radius">
                    <i class="Hui-iconfont">&#xe600;</i> 添加食品
                </a>
            </span>
            <span id="records" class="r">共有数据：<strong id="results">0</strong> 条</span>
        </div>
        <br />
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr class="text-c">
                <th width="25"><input type="checkbox" name="" value="0"></th>
                <th width="50">ID</th>
                <th width="100">名称</th>
                <th width="100">所属类型</th>
                <th width="100">价格</th>
                <th width="100">操作</th>
            </tr>
            </thead>
            <tbody id="tbody"></tbody>
        </table>

        <div id="pages"></div>

    </div>
</div>
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="lib/layer/1.9.3/layer.js"></script>
<script type="text/javascript" src="lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="js/H-ui.js"></script>
<script type="text/javascript" src="js/H-ui.admin.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/page.js"></script>
<script type="text/javascript">
    var results = 0;
    function findFoodList(keyword,sort,pageIndex,limit){
        var url = "../Food/FoodList";
        var start = (pageIndex-1) * pageSize;
        ajaxGetFun(url, {keyword:keyword,sort:sort,start:start,limit:limit}, function(res){
            records = res.bizData;
            renderTable(records);
            results = records.results;
            setpage("pages",records.results,pageIndex,limit);
        }, null, "查询食品列表");
    }
    //分页事件
    function gotopage(target) {
        pageIndex = target;//当前页码
        findUserList("","id",target,pageSize);
        //分页栏id，总页数，目标页码，每页显示条数
        setpage("pages",results,target,pageSize);
    }


    $(function(){
        $("#search").on("click",function(){
            var keyword = $("#keyword").val();
            findFoodList(keyword,"",pageIndex,pageSize);
        });
    });
    function renderTable(res){
        var str = "";
        $.each(res.rows,function(index,value){
            var name = value.name == undefined ? "--" : value.name;
            var a = '<a title="编辑" href="javascript:;" onclick="food_edit(\'食品('+value.id+')编辑\',\'food-add.html\',\''+value.id+'\',\'800\',\'500\')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>';
            var b = '<a title="删除" href="javascript:;" onclick="food_del(this,\''+value.id+'\')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>';
            str += '<tr class="text-c">'
                    +'<td><input type="checkbox" value="'+value.id+'" name="del"></td>'
                    +'<td>'+value.id+'</td>'
                    +'<td>'+name+'</td>'
                    +'<td>'+value.dishName+'</td>'
                    +'<td>'+value.price+'</td>'
                    +'<td class="td-manage">'+a+b+'</td>'
                    +'</tr>';
        });
        results = res.results;
        $("#tbody").html(str);
    }
    $(function(){
        findFoodList("","id",pageIndex,pageSize);
        $('.table-sort tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
            }
            else {
                $('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
    });

    /*食品-增加*/
    function food_add(title,url,w,h){
        layer_show(title,url,w,h);
    }

    //食品编辑
    function food_edit(title,url,id,w,h){
        layer_show(title,url+'?id='+id,w,h);
    }

    /*食品-删除*/
    function food_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            //此处请求后台程序，下方是成功后的前台处理……
            deletManagesByID({'ids':id}, function(data){
                $(obj).parents("tr").remove();
                layer.msg('已删除'+data.bizData+'条数据!',{icon:1,time:1000});
            });
        });
    }

    /** 食品删除 */
    function deletManagesByID(param, successFun){
        var url = "../Food/DeleteFoodByID";
        ajaxPostFun(url, param, successFun, null, "删除食品信息");
    }

</script>
</body>
</html>