<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <script type="text/javascript" src="lib/PIE_IE678.js"></script>
    <![endif]-->
    <link href="css/H-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="css/H-ui.admin.css" rel="stylesheet" type="text/css" />
    <link href="lib/icheck/icheck.css" rel="stylesheet" type="text/css" />
    <link href="lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>教师编辑</title>
</head>
<body>
<div class="pd-20">
    <form action="../Teacher/saveInfo" method="post" class="form form-horizontal" id="form-admin-add">
        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>幼儿园名称：</label>
            <div class="formControls col-5">
                <select name="kindergarten" id="kindergarten" class="select" size="1"></select>
            </div>
            <div class="col-4"> </div>
        </div>
        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>Email：</label>
            <div class="formControls col-5">
                <input type="text" class="input-text" value="" id="email" name="email" datatype="e" errormsg="请输入正确的Email">
            </div>
            <div class="col-4"> </div>
        </div>
        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>名称：</label>
            <div class="formControls col-5">
                <input type="text" class="input-text" value="" id="username" name="username" datatype="*" nullmsg="教师名称不能为空">
            </div>
            <div class="col-4"> </div>
        </div>
        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>地址：</label>
            <div class="formControls col-5">
                <select id="provinces"></select>
                <select id="city"></select>
                <select id="zone"></select>
            </div>
            <div class="col-4"> </div>
        </div>
        <div id="icon_gender" class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>性别：</label>
            <div class="formControls col-5">
                <input type="radio" class="input-radio" value="1" name="gender" id="gender_1" checked />&nbsp;男
                &nbsp;&nbsp;
                <input type="radio" class="input-radio" value="2" name="gender" id="gender_2" />&nbsp;女
            </div>
            <div class="col-4"> </div>
        </div>
        <div id="icon_type" class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>类型：</label>
            <div class="formControls col-5">
                <input type="radio" class="input-radio" value="0" name="type" id="type_0" checked />&nbsp;老师
                &nbsp;&nbsp;
                <input type="radio" class="input-radio" value="1" name="type" id="type_1" />&nbsp;官方
            </div>
            <div class="col-4"> </div>
        </div>
        <div class="row cl">
            <div class="col-9 col-offset-3">
                <input id="id" name="id" type="hidden" value="" />
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                <input type="hidden" id="address" name="address" />
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="lib/icheck/jquery.icheck.min.js"></script>
<script type="text/javascript" src="lib/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript" src="lib/layer/1.9.3/layer.js"></script>
<script type="text/javascript" src="js/H-ui.js"></script>
<script type="text/javascript" src="js/H-ui.admin.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/area.js"></script>
<script type="text/javascript">
    var teacherid = getQueryStr(window.location.href,"teacherid");
    $(function(){
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });
        $("#form-admin-add").Validform({
            tiptype:2,
            callback:function(form){
                $("#address").val(getAreaAddress());
                ajaxSubmit(form[0], function(data){
                    if(data.rtnCode == "0000000"){
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.location.replace(parent.location.href)
                        parent.layer.close(index);
                    }else{
                        layer.msg(data.msg,{icon: 6,time:2000});
                    }
                });
                return false;
            }
        });
        if(teacherid){
            ajaxGetFun("../School/findAll", null, function(res){
                if(res.rtnCode == "0000000"){ //成功
                    loadTeacher(teacherid);
                }
                var objs = res.bizData;
                var str = '<option value="">请选择幼儿园</option>';
                $.each(objs,function(index,value){
                    str += '<option value="'+value.id+'">'+value.name+'</option>';
                });
                $("#kindergarten").html(str);
            }, null, "查询幼儿园信息");
        }
    });
    function loadTeacher(teacherid){
        ajaxGetFun("../Teacher/info/"+teacherid, null, function(res){
            var obj = res.bizData;
            $("#form-admin-add").attr("action","../Teacher/saveInfo/"+obj.id);
            $("#id").val(obj.id);
            $("#kindergarten").val(obj.kindergarten);
            $("#email").val(obj.email);

            var addresses = obj.address.split(",");
            setup(addresses[0],addresses[1],addresses[2]);

            $("#username").val(obj.username);
            $("#gender_"+obj.gender).attr("checked",true);
            $("#type_"+obj.type).attr("checked",true);
        }, null, "查询教师信息");
    }
</script>
</body>
</html>