#pages {
	height:30px;
	line-height:30px;
}
#pages a:link,a:visited,.current,#info{ 
    border:1px solid #DDD; 
    background:#F2F2F2; 
    display:inline-block; 
    margin:1px; 
    text-decoration:none; 
    font-size:12px; 
    width:15px; 
    height:15px; 
    text-align:center; 
    line-height:15px; 
    color:#AAA; 
    padding:3px 3px; 
} 
#pages a:hover{ 
    border:1px solid #E5E5E5; 
    background:#F9F9F9; 
} 
#pages .current{ 
    border:1px solid #83E7E4; 
    background:#DFF9F8; 
    margin:1px; 
    color:#27CBC7; 
} 
#info{ 
    width:auto; 
}
